/* displays timer and leader board option */

header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
/* start button style */

.start-button {
    font-size: 200%;
    padding: 10px 30px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
}

/* quesiton and options button style */

section {
    margin: 0% 25%;
}

.question {
    font-size: 300%;
    text-align: center;
    margin: 200px 0px 100px;
}

.options {
    padding: 10px;
}

div {
    text-align: center;
    margin: 30px;
}
li {
    text-align: center;
    margin: 10px;
}

button {
    font-size: 175%;
    padding: 10px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
}

/* button reactivity */


button:hover {
    background-color: darkcyan;
    border: 1px solid black;
    cursor: pointer;
}

/* quick message style */
.quickMessage {
    color: darkslategrey;
    text-align: center;
    margin-top: 30px;
    font-size: 125%;
}

/* input styling */
.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 20px;
    font-size: 125%;
}

input {
    width: 100px;
    margin-bottom: 50px;
}