/* displays timer and leader board option */
* {
    font-family: 'Sansita', sans-serif;
    background-color: whitesmoke;
}

h2 {
    background-color: darkcyan;
}

#timer {
    text-shadow: 1px 1px whitesmoke;
}

#leaderboard-button {
    font-size: 125%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 200%;
    background-color: darkcyan;
    border-radius: 30px;
}
/* start button style */

.start-button {
    font-size: 200%;
    padding: 10px 30px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
}

/* quesiton and options button style */

section {
    margin: 0% 25%;
}

.question {
    font-size: 300%;
    text-align: center;
    margin: 200px 0px 100px;
    font-family: 'Cinzel', serif;
}

.options {
    padding: 10px;
}

div {
    text-align: center;
    margin: 30px;
}
li {
    text-align: center;
    margin: 10px;
}

button {
    font-size: 175%;
    padding: 10px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

/* button reactivity */


button:hover {
    background-color: darkcyan;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: inset 0px 0px 10px 2px aqua, 0px 0px 10px 2px aqua;
}

/* quick message style */
.quickMessage {
    color: darkslategrey;
    text-align: center;
    margin-top: 30px;
    font-size: 125%;
}

/* input styling */
.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin: 20px;
    font-size: 140%;
}

input {
    width: 100px;
    margin-bottom: 50px;
    background-color: white;
}

/* leader board specific */

ol {
    font-size: 150%;
}

footer {
    display: flex;
    text-align: center;
    flex-direction: column;
}

footer button {
    margin: 10px 25%;
}